<section id="contact-section" du-scroll-container="contact-section">
  <div class="container-fluid">
    <div class="social-media">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i>
        </a></div>
        <div class="col-3 col-sm-3 col-md-3"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
        <div class="col-3 col-sm-3 col-md-3"><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></div>
        <div class="col-3 col-sm-3 col-md-3"><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 col-sm-2 col-md-2 offset-5"><h5>Personal Projects</h5></div>
    </div>
    <div class="row projects">
      <div class="col-4 col-sm-4 col-md-4 offset-2">
        <div class="ghost-button">
          <a href="">PatatapProject</a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-4">
        <div class="ghost-button">
          <a href="">SecondProject</a>
        </div>
      </div>
    </div>


  </div>
</section>
<div id="map" style="height:400px"></div>
