<div id="curtain">

</div>
<section id="introduction">

   <div class="showText">
      <span id="typed"></span>
   </div>

</section>
<a href="#" class="nav-toggle animated infinite">
  <span></span>
  <span></span>
  <span></span>
</a>
<nav class="navbar-menu">
  <ul class="menu-toggle">
    <li><a href="#personal-section">Resume</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#contact-section">Contact</a></li>

  </ul>

</nav>
