<section id="personal-section">

<div class="container">
   <article class="personal-article">
      <header>
        <h3>Wanchalerm Honghom</h3>
      </header>
      <section>
        <h4>Über mich</h4>
        <p>
          Ich bin ein Wirtschaftsinformatikstudent, der neben seinem Studium WebApps kreiert
        </p>
        <img src="img/code.jpg" alt="" class="personal-image">
        <h4>Was mache ich gerade?</h4>
        <p>
          Im Moment befinde ich mich in meinem zweiten Semester meines Studiums.
          Persönlich liebe ich meinen Studiengang,
          jedoch fehlt mir der praktische Bezug zur Anwendung,
          deshalb lerne ich nebenbei die Technologien für einen Full-Stack Web Entwickler.



        </p>
      </section>
      <footer>
        <small style="float: right">WH 2018</small>
        <div style="clear: both"></div>
      </footer>

    </article>


</div>
</section>