<section id="skills-section">
  <h4>Meine Skills</h4>
  <div class="row" style="text-align: center">
    <div class=" col-6 col-sm-6 col-md-4"><div class="skills-wrap">
      <img src="img/html5.png" alt="">
      <div class="rating">
        <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i>
      </div>
    </div>
    </div>

    <div class=" col-6 col-sm-6 col-md-4">
     <div class="skills-wrap">
       <img src="img/css.png" alt="">
       <div class="rating">
        <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star">  </i><i class="fa fa-star">  </i><i class="fa fa-star">  </i>

      </div>
    </div>
  </div>
    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/js.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"> </i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
    </div>
    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/sass.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/nodejs.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/angular.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/mongodb.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/jquery.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-4">
      <div class="skills-wrap">
        <img src="img/java.png" alt="">
        <div class="rating">
          <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
      </div>
    </div>


</div>





</section>
