@import "./sections/contact"
@import "./sections/header"
@import "./sections/hobbies"
@import "./sections/skills"
@import "./sections/personal"



body
  overflow: hidden
  background:
    size: cover
    image: url("/img/reh.png")
    repeat: no-repeat
    position: center
    attachment: fixed



a
  color: white !important
  text-decoration: none !important


.fa
  font-size: 30px !important
